* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #131313;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font: normal 30pt "Arial";
    margin-top: 20px;
    color: #FFFFFF;
}

main {
    width: 666px;
    height: 666px;
    border: 3px solid #FFFFFF;
    margin: 20px;
    display: flex;
    background-color: #2B2A2A;
    flex-wrap: wrap;
}

.squad {
    width: 220px;
    height: 220px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #FFFFFF;
    flex-wrap: wrap;
}

.cell {
    width: 72.5px;
    height: 72.5px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    font: normal 25pt "Arial";
    user-select: none;
}

.selected {
    background-color: rgba(0, 0, 0, 0.5);
}

.numerals {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
    width: 800px;
}

.numeral {
    background-color: rgb(53, 53, 53);
    padding: 17px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
    user-select: none;
    font: normal 25pt "Arial";
    color: white;
}

.numeral:hover {
    background-color: rgba(205, 205, 205, 0.5);
}

.icons {
    width: 70%;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.erase {
    width: 50px;
    cursor: pointer;
    filter: invert(100%);
}